name: smartjob_mobile
description: "SmartJob Mobile - Platform Portal Lowongan Kerja Kabupaten Bandung"
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.0-290.4.beta

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.0
  file_picker: ^8.0.0+1
  shared_preferences: ^2.2.2
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
